CookbookApp/Service References/ServiceReference/DataTransferObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfIngredientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientDto" nillable="true" type="tns:IngredientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredientDto" nillable="true" type="tns:ArrayOfIngredientDto" />
  <xs:complexType name="IngredientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="IngredientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngredientDto" nillable="true" type="tns:IngredientDto" />
  <xs:complexType name="RecipeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecipe" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:ArrayOfIngredientDto" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Preparation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreparationTime" type="ser:duration" />
      <xs:element minOccurs="0" name="SkillLevel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDto" nillable="true" type="tns:RecipeDto" />
</xs:schema>