CookbookApp/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetRecipeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeList" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecipeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="IService_GetRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="IService_AddRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetRecipeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRecipeList" message="tns:IService_GetRecipeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRecipeListResponse" message="tns:IService_GetRecipeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetRecipe" message="tns:IService_GetRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetRecipeResponse" message="tns:IService_GetRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddRecipe" message="tns:IService_AddRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddRecipeResponse" message="tns:IService_AddRecipe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipeList">
      <soap:operation soapAction="http://tempuri.org/IService/GetRecipeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/IService/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://tempuri.org/IService/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceLayer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>