CookbookApp/Service References/ServiceReference/ServiceLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="ArrayOfRecipeSimplifiedDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeSimplifiedDto" nillable="true" type="tns:RecipeSimplifiedDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeSimplifiedDto" nillable="true" type="tns:ArrayOfRecipeSimplifiedDto" />
  <xs:complexType name="RecipeSimplifiedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRecipe" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeSimplifiedDto" nillable="true" type="tns:RecipeSimplifiedDto" />
  <xs:complexType name="RecipeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="IdRecipe" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PreparationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreparationTime" type="ser:duration" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="RecipeIngredient" nillable="true" type="q1:ArrayOfIngredientDto" />
      <xs:element minOccurs="0" name="SkillLevel" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="adaptee" nillable="true" type="q2:RecipeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDto" nillable="true" type="tns:RecipeDto" />
</xs:schema>